certifi==2025.7.9
cfgv==3.4.0
charset-normalizer==3.4.2
-e git+https://github.com/lakowske/clean-python.git@bcf7039a9a7ed8b2b7ca1f7e8bacd011ed322ed4#egg=clean_python
coverage==7.9.2
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdformat==0.7.22
mdformat-gfm==0.4.1
mdformat_tables==1.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
PyYAML==6.0.2
requests==2.32.4
ruff==0.12.3
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
wcwidth==0.2.13
